.active {
    background-color: #6D94C5; /* Your desired accent color */
    color: black;
    border-color: #6D94C5;
    font-weight: bold;
    transform: scale(1.02);
}

/* default state */
.category-button {
    background-color: #CBDCEB;
    border-radius: 4px ;
    padding: 5px;
    border: solid 2px #CBDCEB;
    cursor: pointer;

}

.category-button:hover {
    background-color: #CBDCEB;
    border-color: #CBDCEB;
}

.hidden {
    display: none;
}
