.active {
    background-color: #6D94C5; /* Your desired accent color */
    color: black;
    border-color: #6D94C5;
    font-weight: bold;
    transform: scale(1.02);
}

/* default state */
.category-button {
    background-color: #CBDCEB;
    border-radius: 4px ;
    padding: 1px;
    border: solid 2px #CBDCEB;
    cursor: pointer;
}

/*!* The ACTIVE state *!*/
/*.category-button.active {*/
/*    background-color: #007bff; !* Primary blue background *!*/
/*    color: white; !* White text *!*/
/*    border-color: #007bff;*/
/*    box-shadow: 0 4px 6px rgba(0, 123, 255, 0.3);*/
/*    */
/*}*/

.category-button:hover {
    background-color: #CBDCEB;
    border-color: #CBDCEB;
}

.hidden {
    display: none;
}
